

body{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background: #f7df1e;
    font-size: 10px; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main-header {
    color: #1d1c17;
    font-size:30px;
    text-align: center;
    background-color: #f7df1e;
    border-bottom: #1d1c17;
}

#quiz {
    color: black;
    -webkit-text-fill-color: #f7df1e; /*check this -  Will override color (regardless of order) */
    -webkit-text-stroke-width: 2px; /* Will override color (regardless of order) */
    -webkit-text-stroke-color: #1f1e19; /* Will override color (regardless of order) */
   
}

.title-page{
    display: flex;
    align-items: center;
    vertical-align: auto;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}


.container{
    background-color: rgb(141, 21, 197);
    height: 350px;
    width : 350px;
    border-radius: 23px;
    box-shadow: 5px 5px 1px 1px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.answer-option {
margin: 10px;
padding: 2px;
text-align: center;
border-bottom: #f7df1e;
}


.button {
    font-size: 15px;  
    border-radius:90px;
    border:2px solid #ffffff;
    display: inline-block;
    background-color: #f7efc2;
    margin-left: auto;
    margin-right: auto;
}


.button:hover {
    background-color: rgb(141, 21, 197);
  }



/* .results .test-questions .test-info {
    padding: 50px;
} */


/* 
#information
#begin
#submit
#restart

{

}
.clock {

}
.clock-message {

}
.countdown {

}
.questions {

}
.answer-option1 .answer-option1 .answer-option1 .answer-option1 {

}
.test-result {

}
.username {

}
.scoreboard {

}

.results {

}

.test-questions {

}

.test-info {

}
*/


   